@charset "UTF-8";

:root {
    --cor1: #94CFCD;   
    --cor2: #5F2C82; 
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-color: var(--cor2);
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 250px;
    max-height: 700px;
    border-radius: 20px;
}

#imagem {
    background: #5F2C82 url(../imagens/metal.jpg) no-repeat left bottom;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

#formulario {
    padding: 5px;
}

#formulario > h1 {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    margin: 10px 0px 10px 0px;
}

#formulario > p {
    font-weight: normal;
    font-size: 12.3px;
    text-align: justify;
    line-height: 16px;
    margin: 0px 5px 0px 5px;
}

.input {
    background-color: var(--cor2);
    border-radius: 8px;
    padding: 1px;
    margin: 5px;
}

i {
    color: white;
    font-size: 1.9em;
    width: 20px;
    padding: 5px;
}

.box {
    background-color: var(--cor1);
    font-size: 0.9em;
    height: 100%;
    width: 170px;
    border-radius: 4.7px;
    border: 0px;
    padding: 12px 8px 12px 8px;
    transform: translate(2%, -2%);
}

.box:focus {
    background-color: white;
}

#confirmar {
    text-align: center;
}

#button {
    background-color: #53AAA7;
    color: white;
    font-size: 14px;
    width: 96%;
    border-radius: 5px;
    border: 0px;
    padding: 13px;
}

#button:hover {
    background-color: #2D6462;
}

#senha {
    text-align: center;
    margin: 13px 0px 40px 0px;
}

#esqueci {
    background-color: white;
    color: #2D6462;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    border: 1px solid var(--cor1);
    padding: 13px 50px;
}

#esqueci:hover {
    background-color: #6CD3CF;
}

#icon-especial {
    color: #2D6462;
    font-size: 1em;
    width: 10px;
    transform: translateY(-5%);
}